<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.shorturl.mapper.ShortUrlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zb.shorturl.entity.ShortUrl">
        <id column="id" property="id" />
        <result column="short_url" property="shortUrl" />
        <result column="long_url" property="longUrl" />
        <result column="create_time" property="createTime" />
        <result column="app_key" property="appKey" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, short_url, long_url, create_time, app_key
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into t_short_url
        (
            short_url,
            long_url,
            create_time,
            app_key
        )
        values
        (
            #{shortUrl},
            #{longUrl},
            #{createTime},
            #{appKey}
        )
    </insert>

    <select id="selectLongUrl" parameterType="java.lang.String" resultType="java.lang.String">
        select long_url
        from t_short_url
        where short_url = #{shortUrl}
    </select>

</mapper>
