<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<springProperty scope="context" name="springAppName" source="spring.application.name"/>
	
	<property name="CONSOLE_LOG_PATTERN"
			  value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} ${springAppName:-} %clr([%thread]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

	<property name="FILE_LOG_PATTERN"
			  value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

	<!-- 基于控制台的日志记录器 -->
	<appender name="consoleLogger" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<!-- 基于文件的日志记录器 -->
	<appender name="fileLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/springboot-demo/rolling.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory> <!-- 只保留最近30天的日志文件 -->
		</rollingPolicy>
	</appender>

	<!-- 打印SQL -->
<!--	<logger name="com.zb.shorturl.mapper" level="DEBUG"/>-->
	
	<root level="INFO">
		<appender-ref ref="consoleLogger" />
		<appender-ref ref="fileLogger" />
	</root>
	
</configuration>